
# Playwright
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/playwright/.auth/
reports/
.env

features/flight.feature
pages/FlightHomePage.ts
pages/FlightPassengerInfoPage.ts
pages/FlightSeatSelection.ts
pages/FlightSelectionPage.ts
pages/LoginPage.ts
steps/flight.steps.ts